- 
    var block = [
        {
            name: 'sarah robinson',
            text: 'Cottage furnished unsatiable inquiry carried him described estimating carried. Forty whole nature half feebly would offence continual resolve sentiments tastes decay man.'
        },
        {
            name: 'nathan perish',
            text: 'Regard him winding. Shewing service my widen estimating true pleasant greatest allowance engaged entreaties little stairs.'
        },
        {
            name: 'amy jones',
            text: 'Way discovery three respect means he position offending too point throwing increasing objection. Half suitable breakfast sent way exquisite drawings companions.'
        },
    ];