@charset "UTF-8";
/*-----------------ОСНОВНЫЕ ЦВЕТА-----------------*/
/*-------------------------РАЗМЕРЫ-------------------------------*/
/*---------------ОБНУЛЕНИЕ И ОБЩИЕ ПРАВИЛА----------------*/
/* Box sizing*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

header, footer, section, div, p, h1, h2, h3, h4, h5, h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: hsl(0, 0%, 13.4%);
}

/*--------------------------ШАПКА-------------------------*/
header {
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 650px) {
  height: 100vmax;
}

.header__name {
  width: 100%;
  margin-top: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.names__container {
  width: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.names__container hr {
  position: relative;
  top: 10px;
  width: 100%;
  height: 1px;
  background-color: hsl(39, 30.8%, 55.1%);
}

.names__container h1 {
  width: 100%;
  color: #b09769;
  letter-spacing: 2px;
  font-size: 45px;
  text-transform: uppercase;
  font-family: pd-regular;
}

.names__container p {
  width: 100%;
  position: relative;
  left: 30%;
  color: hsl(0, 0%, 64.7%);
  font-family: ub-light;
  font-size: 25px;
  text-transform: uppercase;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (min-width: 1600px) {
  .names__container hr {
    top: 15px;
  }
  .names__container h1 {
    font-size: 52.70864px;
  }
  .names__container p {
    font-size: 29.28258px;
  }
}

@media screen and (max-width: 840px) {
  .names__container hr {
    top: 5px;
  }
  .names__container h1 {
    font-size: 27.67204px;
  }
  .names__container p {
    font-size: 15.37335px;
  }
}

@media screen and (max-width: 650px) {
  .names__container hr {
    top: 2px;
  }
  .names__container h1 {
    font-size: 21.41288px;
  }
  .names__container p {
    font-size: 11.89605px;
  }
}

.header__lamp-mechanism {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0px 50px 0px;
}

/*----КОНТЕЙНЕР С ЛАМПОЙ----*/
.lamp__container {
  width: 200px;
  height: 200px;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lamp__container .lamp-collider {
  position: absolute;
  width: 130px;
  height: 200px;
  cursor: pointer;
  outline: none;
  z-index: 1;
}

.lamp__container .lamp-light {
  width: 500px;
  height: 500px;
  position: absolute;
  margin-top: -140px;
  background: radial-gradient(40% 40%, rgba(245, 227, 64, 0.06), rgba(245, 227, 64, 0));
  -webkit-animation: flashes 0s infinite ease-in-out;
          animation: flashes 0s infinite ease-in-out;
}

.lamp__container .lamp {
  width: inherit;
  height: inherit;
  position: absolute;
  background-image: url(../images/header/lamp.png);
  background-size: 100% 100%;
  z-index: -2;
  opacity: 0.6;
  -webkit-transition: width 0.5s, height 0.5s;
  transition: width 0.5s, height 0.5s;
  -webkit-animation: flashes 0s infinite ease-in-out;
          animation: flashes 0s infinite ease-in-out;
}

@-webkit-keyframes flashesForLampText {
  50% {
    color: hsl(0, 0%, 23.5%);
  }
}

@keyframes flashesForLampText {
  50% {
    color: hsl(0, 0%, 23.5%);
  }
}

@-webkit-keyframes flashes {
  from {
    opacity: 0.6;
  }
  50% {
    opacity: 0.1;
  }
  to {
    opacity: 0.6;
  }
}

@keyframes flashes {
  from {
    opacity: 0.6;
  }
  50% {
    opacity: 0.1;
  }
  to {
    opacity: 0.6;
  }
}

.slogan {
  margin-top: 30px;
}

.slogan span {
  color: hsl(39, 35.1%, 55.9%);
  font-family: ub-light;
  font-size: 45px;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

@media screen and (min-width: 1600px) {
  .slogan span {
    font-size: 52.70864px;
  }
  .lamp__container {
    width: 240px;
    height: 240px;
  }
  .lamp__container .lamp-collider {
    width: 180px;
    height: 250px;
  }
  .lamp__container .lamp-light {
    width: 500px;
    height: 500px;
    margin-top: -160px;
  }
}

@media screen and (max-width: 1200px) {
  .slogan span {
    font-size: 39.53148px;
  }
  .lamp__container {
    width: 170px;
    height: 170px;
  }
  .lamp__container .lamp-collider {
    width: 130px;
    height: 200px;
  }
  .lamp__container .lamp-light {
    width: 500px;
    height: 500px;
    margin-top: -160px;
  }
}

@media screen and (max-width: 950px) {
  .slogan span {
    font-size: 31.29575px;
  }
}

@media screen and (max-width: 840px) {
  .slogan span {
    font-size: 27.67204px;
  }
  .lamp__container {
    width: 140px;
    height: 140px;
  }
  .lamp__container .lamp-collider {
    width: 90px;
    height: 140px;
  }
  .lamp__container .lamp-light {
    width: 400px;
    height: 400px;
    margin-top: -110px;
  }
}

@media screen and (max-width: 700px) {
  .header__lamp-mechanism {
    margin-top: 15px;
  }
  .slogan span {
    font-size: 23.06003px;
  }
}

@media screen and (max-width: 600px) {
  .slogan span {
    font-size: 19.76574px;
  }
  .lamp__container {
    width: 110px;
    height: 110px;
  }
  .lamp__container .lamp-collider {
    width: 60px;
    height: 110px;
  }
  .lamp__container .lamp-light {
    width: 330px;
    height: 300px;
    margin-top: -90px;
  }
}

@media screen and (max-width: 500px) {
  .slogan span {
    font-size: 16.47145px;
  }
}

@media screen and (max-width: 400px) {
  .slogan span {
    font-size: 13.17716px;
  }
}

@media screen and (max-width: 350px) {
  .slogan span {
    font-size: 11.53001px;
  }
}

.header__scroll-name {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.header__scroll-name p {
  color: hsl(0, 0%, 23.5%);
  text-transform: uppercase;
  font-family: ub-light;
  font-size: 22px;
}

.header__scroll-name .arrow-down {
  width: 30px;
  height: 30px;
  position: absolute;
  margin-top: 25px;
  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: hsl(0, 0%, 23.5%);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (max-width: 950px) {
  .header__scroll-name p {
    font-size: 15.30015px;
  }
  .header__scroll-name .arrow-down {
    width: 25px;
    height: 25px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 650px) {
  .header__scroll-name {
    margin-top: 60px;
  }
  .header__scroll-name p {
    font-size: 10.46852px;
  }
  .header__scroll-name .arrow-down {
    width: 15px;
    height: 15px;
    margin-top: 15px;
  }
}

/*-------------------------ШРИФТЫ-------------------------*/
@font-face {
  font-family: 'pd-black-italic';
  src: url("../fonts/PlayfairDisplaySC-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'pd-black';
  src: url("../fonts/PlayfairDisplaySC-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'pd-bold';
  src: url("../fonts/PlayfairDisplaySC-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'pd-bold-italic';
  src: url("../fonts/PlayfairDisplaySC-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'pd-italic';
  src: url("../fonts/PlayfairDisplaySC-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'pd-regular';
  src: url("../fonts/PlayfairDisplaySC-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ub-light';
  src: url("../fonts/Ubuntu-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
