@charset "UTF-8";
/*-----------------ОСНОВНЫЕ ЦВЕТА-----------------*/
/*-------------------------РАЗМЕРЫ-------------------------------*/
/*---------------ОБНУЛЕНИЕ И ОБЩИЕ ПРАВИЛА----------------*/
/* Box sizing*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

header, footer, section, div, p, h1, h2, h3, h4, h5, h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: hsl(0, 0%, 13.4%);
}

/*--------------------------ШАПКА-------------------------*/
header {
  width: 100%;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
  overflow-x: hidden;
}

.header__name {
  width: 100%;
  margin-top: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.names__container {
  width: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.names__container hr {
  position: relative;
  top: 10px;
  width: 100%;
  height: 1px;
  background-color: hsl(39, 30.8%, 55.1%);
}

.names__container h1 {
  width: 100%;
  color: #b09769;
  letter-spacing: 2px;
  font-size: 45px;
  text-transform: uppercase;
  font-family: pd-regular;
}

.names__container p {
  width: 100%;
  position: relative;
  left: 30%;
  color: hsl(0, 0%, 64.7%);
  font-family: ub-light;
  font-size: 25px;
  text-transform: uppercase;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (min-width: 1600px) {
  .names__container hr {
    top: 15px;
  }
  .names__container h1 {
    font-size: 52.70864px;
  }
  .names__container p {
    font-size: 29.28258px;
  }
}

@media screen and (max-width: 840px) {
  .names__container hr {
    top: 5px;
  }
  .names__container h1 {
    font-size: 27.67204px;
  }
  .names__container p {
    font-size: 15.37335px;
  }
}

@media screen and (max-width: 650px) {
  .names__container hr {
    top: 2px;
  }
  .names__container h1 {
    font-size: 21.41288px;
  }
  .names__container p {
    font-size: 11.89605px;
  }
}

.header__lamp-mechanism {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0px 50px 0px;
}

/*----КОНТЕЙНЕР С ЛАМПОЙ----*/
.lamp__container {
  width: 200px;
  height: 200px;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lamp__container .lamp-collider {
  position: absolute;
  width: 130px;
  height: 200px;
  cursor: pointer;
  outline: none;
  z-index: 1;
}

.lamp__container .lamp-light {
  width: 500px;
  height: 500px;
  position: absolute;
  margin-top: -140px;
  background: radial-gradient(40% 40%, rgba(245, 227, 64, 0.06), rgba(245, 227, 64, 0));
  -webkit-animation: flashes 0s infinite ease-in-out;
          animation: flashes 0s infinite ease-in-out;
}

.lamp__container .lamp {
  width: inherit;
  height: inherit;
  position: absolute;
  background-image: url(../images/header/lamp.png);
  background-size: 100% 100%;
  z-index: -2;
  opacity: 0.6;
  -webkit-transition: width 0.5s, height 0.5s;
  transition: width 0.5s, height 0.5s;
  -webkit-animation: flashes 0s infinite ease-in-out;
          animation: flashes 0s infinite ease-in-out;
}

@-webkit-keyframes flashesForLampText {
  50% {
    color: hsl(0, 0%, 23.5%);
  }
}

@keyframes flashesForLampText {
  50% {
    color: hsl(0, 0%, 23.5%);
  }
}

@-webkit-keyframes flashes {
  from {
    opacity: 0.6;
  }
  50% {
    opacity: 0.1;
  }
  to {
    opacity: 0.6;
  }
}

@keyframes flashes {
  from {
    opacity: 0.6;
  }
  50% {
    opacity: 0.1;
  }
  to {
    opacity: 0.6;
  }
}

.slogan {
  margin-top: 30px;
}

.slogan span {
  color: hsl(39, 35.1%, 55.9%);
  font-family: ub-light;
  font-size: 45px;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

@media screen and (min-width: 1600px) {
  .slogan span {
    font-size: 52.70864px;
  }
  .lamp__container {
    width: 240px;
    height: 240px;
  }
  .lamp__container .lamp-collider {
    width: 180px;
    height: 250px;
  }
  .lamp__container .lamp-light {
    width: 500px;
    height: 500px;
    margin-top: -160px;
  }
}

@media screen and (max-width: 1200px) {
  .slogan span {
    font-size: 39.53148px;
  }
  .lamp__container {
    width: 170px;
    height: 170px;
  }
  .lamp__container .lamp-collider {
    width: 130px;
    height: 200px;
  }
  .lamp__container .lamp-light {
    width: 500px;
    height: 500px;
    margin-top: -160px;
  }
}

@media screen and (max-width: 950px) {
  .slogan span {
    font-size: 31.29575px;
  }
}

@media screen and (max-width: 840px) {
  .slogan span {
    font-size: 27.67204px;
  }
  .lamp__container {
    width: 140px;
    height: 140px;
  }
  .lamp__container .lamp-collider {
    width: 90px;
    height: 140px;
  }
  .lamp__container .lamp-light {
    width: 400px;
    height: 400px;
    margin-top: -110px;
  }
}

@media screen and (max-width: 700px) {
  .header__lamp-mechanism {
    margin-top: 15px;
  }
  .slogan span {
    font-size: 23.06003px;
  }
}

@media screen and (max-width: 600px) {
  .slogan span {
    font-size: 19.76574px;
  }
  .lamp__container {
    width: 110px;
    height: 110px;
  }
  .lamp__container .lamp-collider {
    width: 60px;
    height: 110px;
  }
  .lamp__container .lamp-light {
    width: 330px;
    height: 300px;
    margin-top: -90px;
  }
}

@media screen and (max-width: 500px) {
  .slogan span {
    font-size: 16.47145px;
  }
}

@media screen and (max-width: 400px) {
  .slogan span {
    font-size: 13.17716px;
  }
}

@media screen and (max-width: 350px) {
  .slogan span {
    font-size: 11.53001px;
  }
}

.header__scroll-name {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__scroll-name p {
  color: hsl(0, 0%, 23.5%);
  text-transform: uppercase;
  font-family: ub-light;
  font-size: 22px;
}

.header__scroll-name .arrow-down {
  width: 30px;
  height: 30px;
  position: relative;
  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: hsl(0, 0%, 23.5%);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (max-width: 950px) {
  .header__scroll-name p {
    font-size: 15.30015px;
  }
  .header__scroll-name .arrow-down {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 650px) {
  .header__scroll-name p {
    font-size: 10.46852px;
  }
  .header__scroll-name .arrow-down {
    width: 15px;
    height: 15px;
  }
}

/*--------------------- ОБЩИЕ ЭЛЕМЕНТЫ--------------------*/
/*--------------ОБЩИЕ ЭЛЕМЕНТЫ НА СТРАНИЦЕ-----------------------*/
section {
  width: 100%;
  height: auto;
  margin-top: 150px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header_section {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}

.header_section h2 {
  color: #a5a5a5;
  text-transform: uppercase;
  font-family: pd-bold;
  font-size: 45px;
}

@media screen and (min-width: 1600px) {
  .header_section h2 {
    font-size: 52.70864px;
  }
}

@media screen and (max-width: 840px) {
  .header_section h2 {
    font-size: 27.67204px;
  }
}

@media screen and (max-width: 650px) {
  .header_section h2 {
    font-size: 21.41288px;
  }
}

/*--------------------РАЗДЕЛ SERVICES---------------------*/
.services {
  min-height: 100vh;
}

.services_content_container {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 640px) {
  .services {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .services_content_container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.navigation_services {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 100px;
  width: 25%;
}

.navigation_services_container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav_services_item {
  position: relative;
  width: auto;
  margin-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav_services_item hr {
  width: 0%;
  height: 1px;
  position: absolute;
  top: 40px;
  background-color: #3c3c3c;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}

.nav_services_item p {
  font-size: 26px;
  color: #a5a5a5;
  font-family: ub-light;
  text-transform: uppercase;
  cursor: pointer;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-top: 1px solid rgba(0, 0, 0, 0);
  -webkit-transition: color 0.3s ease-out, font-size 0.05s ease-out;
  transition: color 0.3s ease-out, font-size 0.05s ease-out;
}

.nav_services_item p:hover {
  border-top: 1px solid #b09769;
  color: #b09769;
}

@media screen and (min-width: 1600px) {
  .nav_services_item p {
    font-size: 30.45388px;
  }
}

@media screen and (max-width: 1150px) {
  .navigation_services {
    margin-left: 0px;
  }
  .nav_services_item p {
    font-size: 21.88873px;
  }
}

@media screen and (max-width: 840px) {
  .nav_services_item p {
    font-size: 15.98829px;
  }
}

@media screen and (max-width: 640px) {
  .navigation_services {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px;
    width: 100%;
  }
  .navigation_services_container {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .nav_services_item {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
    padding: 0px 3% 0px 3%;
    min-width: 20%;
  }
  .nav_services_item hr {
    display: none;
  }
  .nav_services_item p {
    font-size: 16px;
  }
}

.articles_services {
  width: 60%;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.articles_services__item {
  max-width: 45%;
  display: none;
  height: auto;
}

.articles_services__item:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.articles_services__item p {
  position: relative;
  min-height: 100px;
  text-align: justify;
  font-size: 16px;
  font-family: ub-light;
  color: #a5a5a5;
}

.articles_services__item .background_aricles_services {
  position: absolute;
  width: 600px;
  height: 600px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  bottom: 0px;
  right: 250px;
  z-index: -10;
  opacity: 0.8;
}

.articles_services__item:nth-of-type(1) .background_aricles_services {
  background-image: url(../images/services/services_image_1.png);
}

.articles_services__item:nth-of-type(2) .background_aricles_services {
  background-image: url(../images/services/services_image_2.png);
}

.articles_services__item:nth-of-type(3) .background_aricles_services {
  background-image: url(../images/services/services_image_3.png);
}

.articles_services__item:nth-of-type(4) .background_aricles_services {
  background-image: url(../images/services/services_image_4.png);
}

.articles_services__item:nth-of-type(5) .background_aricles_services {
  background-image: url(../images/services/services_image_5.png);
}

.articles_services__item:nth-of-type(6) .background_aricles_services {
  background-image: url(../images/services/services_image_6.png);
}

@media screen and (min-width: 1600px) {
  .articles_services__item p {
    font-size: 18.74085px;
  }
  .articles_services__item .background_aricles_services {
    width: 585.65154px;
    height: 585.65154px;
  }
}

@media screen and (max-width: 1150px) {
  .articles_services__item {
    max-width: 55%;
  }
  .articles_services__item p {
    font-size: 13.46999px;
  }
  .articles_services__item .background_aricles_services {
    width: 420.93704px;
    height: 420.93704px;
    right: 100px;
  }
}

@media screen and (max-width: 840px) {
  .articles_services__item .background_aricles_services {
    width: 307.46706px;
    height: 307.46706px;
    right: 70px;
  }
}

@media screen and (max-width: 650px) {
  .articles_services {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .articles_services__item {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .articles_services__item p {
    position: static;
    width: 90%;
  }
  .articles_services__item .background_aricles_services {
    width: 237.92094px;
    height: 237.92094px;
    position: static;
    bottom: 0px;
    right: 0px;
  }
}

/*-------------------------ШРИФТЫ-------------------------*/
@font-face {
  font-family: 'pd-black-italic';
  src: url("../fonts/PlayfairDisplaySC-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'pd-black';
  src: url("../fonts/PlayfairDisplaySC-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'pd-bold';
  src: url("../fonts/PlayfairDisplaySC-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'pd-bold-italic';
  src: url("../fonts/PlayfairDisplaySC-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'pd-italic';
  src: url("../fonts/PlayfairDisplaySC-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'pd-regular';
  src: url("../fonts/PlayfairDisplaySC-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ub-light';
  src: url("../fonts/Ubuntu-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
