
/*-----------------ОСНОВНЫЕ ЦВЕТА-----------------*/
//ПОЛУЧЕНИЕ HSL
@function hslConv($color) {
    @return unquote("hsl(#{hue($color)/1deg}, #{saturation($color)}, #{lightness($color)})");
}

//ЦВЕТА
$darkGold:hsl(39,30.8%,55.1%);
$lightGold:hsl(39,35.1%,55.9%);
$bgColor:hsla(0,0%,13.4%,0.2) ;
$darkGray:hsl(0,0%,23.5%);
$lightGray:hsl(0,0%,64.7%);

/*-------------------------РАЗМЕРЫ-------------------------------*/
//РАЗМЕРЫ
$startWidth: 1366;

//РАСЧЕТ ЗНАЧЕНИЯ В ЗАВИСИМОСТИ ОТ ИЗМЕНЕНИЯ ШИРИНЫ 
@function calcSize($startSize, $witdtgScreen){
    @return unquote("#{($witdtgScreen / $startWidth) * $startSize}" + 'px');
}

//АДРЕСА ИЗОБРАЖЕНИЙ
$lamp:  url(../images/header/lamp.png);
