.sign__container.sign-in
    .main-menu__header
        h2 sign in
    .button-close__container(onclick='toCloseSign()')
        hr
        hr
    p sign in using
    include social_net/social_net.pug
    p or your account
    include in/in.pug

.sign__container.sign-up
    .main-menu__header
        h2 sign up
    .button-close__container(onclick='toCloseSign()')
        hr
        hr
    p sign up using
    include social_net/social_net.pug
    p or enter following information 
    include up/up.pug