.form
    form(method="post" action="#") 
        .field
            input(type="text", placeholder="Name or Email", require)
        .field
            input(type="text", placeholder="Password", require) 
        .submit 
            button(type="submit") sign in