$startFont_span: 45;

//ГЛАВНЫЙ КОНТЕЙНЕР 
.header__lamp-mechanism{
    width: 100%;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
}

/*----КОНТЕЙНЕР С ЛАМПОЙ----*/
.lamp__container{
    width: 200px;
    height: 200px;
    position: relative;
    flex-direction: row;
    justify-content: center;

    //Коллайдер для лампы (Область воздействия)
    .lamp-collider{
        position: absolute;
        width: 130px;
        height: 200px;
        cursor: pointer;
        outline: none;
        z-index: 1;
    }

    //Эффект освещения
    .lamp-light{
        width: 500px;
        height: 500px;
        position: absolute;
        margin-top: -140px;
        background: radial-gradient(40% 40%, rgba(245, 227, 64, 0.06), rgba(245, 227, 64, 0));
        animation: flashes 0s infinite ease-in-out;
    }

    //Лампочка
    .lamp{
        width: inherit;
        height: inherit;
        position: absolute;
        background-image: $lamp;
        background-size: 100% 100%;
        z-index: -2;
        opacity: 0.6;
        transition: width 0.5s, height 0.5s;
        animation: flashes 0s infinite ease-in-out;
    }
}

@keyframes flashesForLampText{
    50% {color: hslConv($darkGray)}
}

@keyframes flashes{
    from { opacity: 0.6; }
    50% { opacity: 0.1; }
    to { opacity: 0.6; }
}

//КОНТЕЙНЕР СО СЛОГАНОМ 
.slogan{
    margin-top: 30px;

    //Отдельно взятый символ
    span{
        color: hslConv($lightGold);
        font-family: ub-light;
        font-size: 45px;
        text-transform: uppercase;
        transition: 0.3s ease-out;
    }
}

//ДО 1600PX Ширины экрана
@media screen and (min-width: 1600px){
    .slogan{
        //Отдельно взятый символ
        span{
            font-size: calcSize($startFont_span, 1600);
        }
    }

    .lamp__container{
        width: 240px;
        height: 240px;
        //Рукоядка

        .lamp-collider{
            width: 180px;
            height: 250px;
        }
    
        //Эффект освещения
        .lamp-light{
            width: 500px;
            height: 500px;
            margin-top: -160px;
        }
    }
}

//ДО 1200PX Ширины экрана
@media screen and (max-width: 1200px){
    .slogan{
        //Отдельно взятый символ
        span{
            font-size: calcSize($startFont_span, 1200);
        }
    }

    .lamp__container{
        width: 170px;
        height: 170px;
        //Рукоядка

        .lamp-collider{
            width: 130px;
            height: 200px;
        }
    
        //Эффект освещения
        .lamp-light{
            width: 500px;
            height: 500px;
            margin-top: -160px;
        }
    }
}

//ДО 950PX Ширины экрана
@media screen and (max-width: 950px){
    .slogan{
        //Отдельно взятый символ
        span{
            font-size: calcSize($startFont_span, 950);
        }
    }
}

//ДО 840PX Ширины экрана
@media screen and (max-width: 840px){
    .slogan{
        //Отдельно взятый символ
        span{
            font-size: calcSize($startFont_span, 840);
        }
    }

    .lamp__container{
        width: 140px;
        height: 140px;
        //Рукоядка

        .lamp-collider{
            width: 90px;
            height: 140px;
        }
    
        //Эффект освещения
        .lamp-light{
            width: 400px;
            height: 400px;
            margin-top: -110px;
        }
    }
}

//ДО 700PX Ширины экрана
@media screen and (max-width: 700px){
    .slogan{
        //Отдельно взятый символ
        span{
            font-size: calcSize($startFont_span, 700);
        }
    }
}

//ДО 600PX Ширины экрана
@media screen and (max-width: 600px){
    .slogan{
        //Отдельно взятый символ
        span{
            font-size: calcSize($startFont_span, 600);
        }
    }

    .lamp__container{
        width: 110px;
        height: 110px;
        //Рукоядка

        .lamp-collider{
            width: 60px;
            height: 110px;
        }
    
        //Эффект освещения
        .lamp-light{
            width: 330px;
            height: 300px;
            margin-top: -90px;
        }
    }
}

//ДО 500PX Ширины экрана
@media screen and (max-width: 500px){
    .slogan{
        //Отдельно взятый символ
        span{
            font-size: calcSize($startFont_span, 500);
        }
    }
}

//ДО 500PX Ширины экрана
@media screen and (max-width: 400px){
    .slogan{
        //Отдельно взятый символ
        span{
            font-size: calcSize($startFont_span, 400);
        }
    }
}

@media screen and (max-width: 350px){
    .slogan{
        //Отдельно взятый символ
        span{
            font-size: calcSize($startFont_span, 350);
        }
    }
}


