- var text = "our design's so wanted that we have to hide";
- var simbols = text.split('');
- var whitespace = '#160;';

.header__lamp-mechanism
    .lamp__container.lampContainer_Js
        .lamp-collider.lampCollider_Js
        .lamp-light
        .lamp
    .slogan|
        |
        each val in simbols
            if(val != ' ')
                span= val
            else
                span &#{whitespace}
                |
                |