- 
    var block = [
        {
            name: 'subsence monochrome',
            text: 'Web design in monochromatic colors for SUBSENCE agency.',
            type: 'web design'},
        {
            name: 'design agency business card',
            text: 'Logotype and business card design for ARTDESIGN agency.',
            type: 'branding'},
        {
            name: 'fixedgear shop photoshop',
            text: 'Photoshoot for the annual issue of the fixed gear and road bikes magazine.',
            type: 'photography'},
        {
            name: "editor's personal page",
            text: 'Web page created for Ryan Fields a famous US editor.',
            type: 'web design'},
        {
            name: "user interface",
            text: 'Hard occasional total unable offices vicinity luckily proposal kindness called while sang direct sportsman who.',
            type: 'ui'},
        {
            name: "svg logotype",
            text: 'Improve ashamed married expense bed her comfort pursuit mrs. Four time took ye your as fail lady.',
            type: 'logo design'},
        {
            name: "photo is life",
            text: 'Assure quick acceptance joy invitation now unwilling suspicion under exposed piqued.',
            type: 'photography'},
        {
            name: "graphic tablet",
            text: 'Many indulged end shewing matter civilly bred material compass entrance avoid bringing long principles favourable.',
            type: 'graphic design'},
        {
            name: "the best design",
            text: 'Advice sorry folly insipidity society provided you distant defective minutes indeed large.',
            type: 'web design'},
        {
            name: "can i use",
            text: 'Form ecstatic gay insipidity adieus four likewise. Large advanced so scarcely breeding affixed.',
            type: 'logo design'},
        {
            name: "user-friendly interface",
            text: 'Outward entreaties built aware just missed done unpleasant resolving you.',
            type: 'ui'},
        {
            name: "run for the dream",
            text: 'Did secure within gravity dwelling why relation sportsmen.',
            type: 'branding'},
        {
            name: "undercover",
            text: 'Worse half position rapturous order objection blessing began express mirth demands.',
            type: 'graphic design'},
        {
            name: "dark forest",
            text: 'Merits place pursuit frankness saw very.',
            type: 'branding'},
        {
            name: "the black lake",
            text: 'Recurred families walk tears rapid departure highest disposal mrs hill. Maids joy bore more explain hunted cousin listening cousins behind material.',
            type: 'graphic design'},
        {
            name: "to do list",
            text: 'Distant downs wandered subjects income or replying collecting. Discourse contrasted shed cousins their thoughts theirs dining gravity given.',
            type: 'photography'},
        {
            name: "our design",
            text: 'Gravity engaged these excited eat made welcomed beyond dejection abode side decay confined common perpetual consulted sussex.',
            type: 'branding'},
        {
            name: "war and peace",
            text: 'Music solid fact distrusts first ignorant above again deficient private offended alteration change table dejection.',
            type: 'ui'},
        {
            name: "trick or treat",
            text: 'Opinion hopes shameless provided open northward sudden suffering chief compact lived open allow cousin length.',
            type: 'web design'},
        {
            name: "guitar or piano",
            text: 'Improving even body mr true terminated same compass declared regard allowance longer general burst into little.',
            type: 'photography'},
        {
            name: "quantum computing",
            text: 'Linen offer household family warrant attempted often apartments deficient.',
            type: 'graphic design'},
        {
            name: "quasars and pulsars",
            text: 'Sang spot be produced words neglected should.',
            type: 'photography'},
        {
            name: "the game of life",
            text: 'Resembled breeding explained sensible now little advantage suitable seven dissuade wished aware hardly.',
            type: 'web design'},
        {
            name: "great adventure",
            text: 'Blind sang cold sex become get prevent. Required oh furniture ten up expenses was smiling want repair.',
            type: 'graphic design'},
        {
            name: "the lion king",
            text: 'Sons invited one cause see latter address father walls built left sociable promotion done wished more cordial.',
            type: 'ui'},
        {
            name: "star wars",
            text: 'Enquire entreaties securing death things. Greater rapturous length nearer begin plan certainly.',
            type: 'photography'},
        {
            name: "world tour",
            text: 'Believe present worth roof like quick entreaties melancholy state advantage meet.',
            type: 'web design'},
        {
            name: "station of destination",
            text: 'Case quitting offended at disposing dwelling acuteness deficient moment may least affixed sitting inhabit margaret equally.',
            type: 'branding'},
        {
            name: "dead souls",
            text: 'Compact secure winter everything either surprise pleasant happen shall most goodness offices journey attended.',
            type: 'ui'},
    ];
