<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Undercover
        link(rel="stylesheet", href="css/style.css")
        script(src="js/script.js", defer)
    body
        include modules/header/header.pug
        include modules/services/services.pug
        include modules/portfolio/portfolio.pug