- 
    var text = [
        'Web design is our passion. Our team likes to create unique web pages for our clients. Understanding users is key point to good interaction with him through web design.',
        
        'Logo is the first thing customer or user will see in your product. And his or her first impression will depend on it. We can create logo that will satisfy you and your clients.', 
        
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.', 
        
        'Nowadays smartphones are part of our life. With help of numerous apps we can do our life more simple and fun. Our UI department specialists can develop and test any app that you want to create.', 
        'To create unique designs often you need some photos. In our time using stock photos is kind of bad manner. So we decided to open and develop our own photography department to create unique products for you.',
        
        'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.'];

.articles_services
    each val in text
        .articles_services__item
            .background_aricles_services
            p=val