.form
    form(method="post" action="#") 
        .field
            input(type="text", placeholder="Name", require)
        .field
            input(type="text", placeholder="Email", require)
        .container
            .field
                input(type="text", placeholder="Password", require) 
            .submit 
                button(type="submit") sign up