.menu__button-open{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    border: 1px solid $darkGray;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover{
        border-color: $darkGold;
    }

    &:hover > hr{
        background-color: $darkGold;
    }

    hr{
        width: 70%;
        margin: 4px 0px;
        height: 2px;
        background-color: $lightGray;
        transition: 0.2s;
    }
}

.itIsPush{
    &:hover > hr{
        position: absolute;
    }

    &:hover > hr:nth-of-type(1){
        transform: rotate(-45deg);
    }

    &:hover > hr:nth-of-type(2){
        opacity: 0;
    }

    &:hover > hr:nth-of-type(3){
        transform: rotate(45deg);
    }
}

@media screen and (max-width: 750px){
    .menu__button-open{
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-height: 550px){
    .menu__button-open{
        display: none;
    }
}