header{
    width: 100%;    
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    overflow-x: hidden;
}

@media screen and (max-width: 650px){
    height: 100vmax;
}

//СТИЛИ ДЛЯ ШАПКИ HEADER
@import 'header_title/_header_title';

//CТИЛИ ДЛЯ ЛАМПЫ И ТЕКСТА ПОД НЕЙ
@import 'lamp_mechanism/_lamp_mechanism';

//CТИЛИ ДЛЯ НАДПИСИ SCROLL DOWN
@import 'scroll_down/_scroll_down';