header{
    width: 100%;    
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

@media screen and (orientation: landscape){
    height: 250vmax;
}

//СТИЛИ ДЛЯ ШАПКИ HEADER
@import 'header_title/_header_title';

//CТИЛИ ДЛЯ ЛАМПЫ И ТЕКСТА ПОД НЕЙ
@import 'lamp_mechanism/_lamp_mechanism';

//CТИЛИ ДЛЯ НАДПИСИ SCROLL DOWN
@import 'scroll_down/_scroll_down';