header
    //ШАПКА HEADER
    include header_title/header_title.pug
    //МЕХАНИЗМ ОСВЕЩЕНИЯ ТЕКСТА ЛАМПА+ТЕКСТ
    include lamp_mechanism/lamp_mechanism.pug
    //ПОДПИСЬ SCROLL DOWN
    include scroll_down/scroll_down.pug
            

