//ГЛАВНЫЙ КОНТЕЙНЕР
.header__scroll-name{
    width: 100%;
    flex-direction: column;
    margin-top: 80px;
    align-items: center;

    //Надпись Scroll down for more
    p{
        color: hslConv($darkGray);
        text-transform: uppercase;
        font-family: ub-light;
        font-size: 22px;
    }

    //Стрелка вниз
    .arrow-down{
        width: 30px;
        height: 30px;
        position: absolute;
        margin-top: 25px;
        border-width: 0px 2px 2px 0px;
        border-style: solid;
        border-color: hslConv($darkGray);
        transform: rotate(45deg);
    }
}

@media screen and (max-width: 950px){
    .header__scroll-name{
        //Надпись Scroll down for more
        p{
            font-size: calcSize(22, 950);
        }

        .arrow-down{
            width: 25px;
            height: 25px;
            margin-top: 20px;
        }
    }
}

//ДО 650px ширины экрана
@media screen and (max-width: 650px){
    .header__scroll-name{
        margin-top: 60px;

        //Надпись Scroll down for more
        p{
            font-size:  calcSize(22, 650);
        }
    
        //Стрелка вниз
        .arrow-down{
            width: 15px;
            height: 15px;
            margin-top: 15px;
        }
    }
}
